<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>반가워용</h1>
	<hr>
	<p>[[${username}]]</p>
	<p>[[${name}]]</p>
	<p>[[${role}]]</p>
	
	<h1>Thymeleaf에서 Security 접근</h1>
	<p>Welcome, <span sec:authentication="name"></span>!</p>
	<p>Welcome, <span sec:authentication="principal.name"></span>!</p>
	<p>Welcome, <span sec:authentication="principal.role"></span>!</p>
	<hr>
	<h1>principal객체 값을 model로부터 받음</h1>
	<p>[[${username2}]]</p>
	<p>[[${principal}]]</p>
	<p>[[${username3}]]</p>
	<p>[[${name3}]]</p>
	<p>[[${role3}]]</p>
	
</body>
</html>